form *{
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}

form h3{
    
    text-align: center;
}

form{
    border-radius: 20px;
    background-color: aquamarine;
    width: 400px;
}


.container {
    display: flex;
    flex-direction: column;
}

span{
    color: red;
}